node-red/dev.json
[
    {
        "id": "dcbbdfc221d3d6dd",
        "type": "tab",
        "label": "SMART TORQUE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5e0ee85a0ded4e6",
        "type": "modbus-read",
        "z": "dcbbdfc221d3d6dd",
        "name": "",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "10",
        "rate": "1500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "c9d2d371df8d381e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "406899b235e1338f",
                "d5d8195296286523",
                "3ecd287e0dc60149",
                "ebb48db6f14f98a9"
            ],
            [
                "fdf3d7ca6e059937"
            ]
        ]
    },
    {
        "id": "406899b235e1338f",
        "type": "debug",
        "z": "dcbbdfc221d3d6dd",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "fdf3d7ca6e059937",
        "type": "debug",
        "z": "dcbbdfc221d3d6dd",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 480,
        "wires": []
    },
    {
        "id": "b72d5bbd8da0d88b",
        "type": "modbus-getter",
        "z": "dcbbdfc221d3d6dd",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "4",
        "server": "c9d2d371df8d381e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 880,
        "y": 240,
        "wires": [
            [
                "907c57ee1448ddf1"
            ],
            []
        ]
    },
    {
        "id": "d5d8195296286523",
        "type": "function",
        "z": "dcbbdfc221d3d6dd",
        "name": "RFID",
        "func": "const data = msg.payload;\n\nmsg.payload = data[1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "5bba3d284198695d"
            ]
        ]
    },
    {
        "id": "5bba3d284198695d",
        "type": "switch",
        "z": "dcbbdfc221d3d6dd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 240,
        "wires": [
            [
                "b72d5bbd8da0d88b",
                "f5d12dbf972876f0"
            ]
        ]
    },
    {
        "id": "907c57ee1448ddf1",
        "type": "function",
        "z": "dcbbdfc221d3d6dd",
        "name": "Combine card",
        "func": "const data = msg.payload;\nconst upper = data[1];\nconst lower = data[2];\n// Combine the two parts into one 32-bit integer\nlet cardNumber = (upper << 16) | lower;\ncardNumber = (upper * 65536) + lower;\nmsg.payload = {\n    cardNumber: cardNumber,\n    cardType: data[3] // Assuming there is other data in data[3]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 240,
        "wires": [
            [
                "d6b95b2ac17f3a35",
                "ad4012854a793fd3",
                "6f4e3e308d9e8449"
            ]
        ]
    },
    {
        "id": "e0bd8814966151c9",
        "type": "modbus-write",
        "z": "dcbbdfc221d3d6dd",
        "name": "RESET STATE",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "c9d2d371df8d381e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1680,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d6b95b2ac17f3a35",
        "type": "function",
        "z": "dcbbdfc221d3d6dd",
        "name": "Reset Data",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 240,
        "wires": [
            [
                "e0bd8814966151c9"
            ]
        ]
    },
    {
        "id": "3ecd287e0dc60149",
        "type": "function",
        "z": "dcbbdfc221d3d6dd",
        "name": "START",
        "func": "const data = msg.payload;\n\nmsg.payload = data[5];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 360,
        "wires": [
            [
                "90ddc0d6b18f3aa4"
            ]
        ]
    },
    {
        "id": "90ddc0d6b18f3aa4",
        "type": "switch",
        "z": "dcbbdfc221d3d6dd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 360,
        "wires": [
            [
                "698002cb4fde3899"
            ]
        ]
    },
    {
        "id": "698002cb4fde3899",
        "type": "modbus-getter",
        "z": "dcbbdfc221d3d6dd",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "Input",
        "adr": "5",
        "quantity": "1",
        "server": "c9d2d371df8d381e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 880,
        "y": 360,
        "wires": [
            [
                "e65dcbce6e97640f"
            ],
            []
        ]
    },
    {
        "id": "e65dcbce6e97640f",
        "type": "function",
        "z": "dcbbdfc221d3d6dd",
        "name": "GET STATE START",
        "func": "const data = msg.payload;\nmsg.payload = data[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 360,
        "wires": [
            [
                "571981ae946c0389",
                "7b14bf065653afcd",
                "ad57b762b82a0523"
            ]
        ]
    },
    {
        "id": "571981ae946c0389",
        "type": "debug",
        "z": "dcbbdfc221d3d6dd",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 500,
        "wires": []
    },
    {
        "id": "f5d12dbf972876f0",
        "type": "debug",
        "z": "dcbbdfc221d3d6dd",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "7b14bf065653afcd",
        "type": "function",
        "z": "dcbbdfc221d3d6dd",
        "name": "Reset Data",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 360,
        "wires": [
            [
                "88c947b156a31bc7"
            ]
        ]
    },
    {
        "id": "88c947b156a31bc7",
        "type": "modbus-write",
        "z": "dcbbdfc221d3d6dd",
        "name": "RESET STATE",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "5",
        "quantity": "1",
        "server": "c9d2d371df8d381e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1680,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ad57b762b82a0523",
        "type": "function",
        "z": "dcbbdfc221d3d6dd",
        "name": "Process",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ebb48db6f14f98a9",
        "type": "function",
        "z": "dcbbdfc221d3d6dd",
        "name": "STOP",
        "func": "const data = msg.payload;\n\nmsg.payload = data[6];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 600,
        "wires": [
            [
                "79e5a8e81365a1cb"
            ]
        ]
    },
    {
        "id": "79e5a8e81365a1cb",
        "type": "switch",
        "z": "dcbbdfc221d3d6dd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 600,
        "wires": [
            [
                "51e1339c544741ae"
            ]
        ]
    },
    {
        "id": "51e1339c544741ae",
        "type": "modbus-getter",
        "z": "dcbbdfc221d3d6dd",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "Input",
        "adr": "6",
        "quantity": "1",
        "server": "c9d2d371df8d381e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 880,
        "y": 600,
        "wires": [
            [
                "a626cd42e366f590"
            ],
            []
        ]
    },
    {
        "id": "a626cd42e366f590",
        "type": "function",
        "z": "dcbbdfc221d3d6dd",
        "name": "GET STATE STOP",
        "func": "const data = msg.payload;\nmsg.payload = data[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 600,
        "wires": [
            [
                "ebbc4a6f46c27d3a",
                "32225e1556c4a162",
                "13a5ae1d325656d1"
            ]
        ]
    },
    {
        "id": "ebbc4a6f46c27d3a",
        "type": "debug",
        "z": "dcbbdfc221d3d6dd",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 800,
        "wires": []
    },
    {
        "id": "32225e1556c4a162",
        "type": "function",
        "z": "dcbbdfc221d3d6dd",
        "name": "Reset Data",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 600,
        "wires": [
            [
                "167c6b0dafdfd4c9"
            ]
        ]
    },
    {
        "id": "167c6b0dafdfd4c9",
        "type": "modbus-write",
        "z": "dcbbdfc221d3d6dd",
        "name": "RESET STATE",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "6",
        "quantity": "1",
        "server": "c9d2d371df8d381e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1680,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "13a5ae1d325656d1",
        "type": "function",
        "z": "dcbbdfc221d3d6dd",
        "name": "Process",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ad4012854a793fd3",
        "type": "debug",
        "z": "dcbbdfc221d3d6dd",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 80,
        "wires": []
    },
    {
        "id": "6f4e3e308d9e8449",
        "type": "function",
        "z": "dcbbdfc221d3d6dd",
        "name": "Query Data",
        "func": "msg.payload = {\n    \"card_uid\":421112314\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 140,
        "wires": [
            [
                "af49bb0fe2351d71"
            ]
        ]
    },
    {
        "id": "f2013260f61de49b",
        "type": "debug",
        "z": "dcbbdfc221d3d6dd",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1930,
        "y": 100,
        "wires": []
    },
    {
        "id": "644cf7f9c79b0ca6",
        "type": "inject",
        "z": "dcbbdfc221d3d6dd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1130,
        "y": 120,
        "wires": [
            [
                "6f4e3e308d9e8449"
            ]
        ]
    },
    {
        "id": "af49bb0fe2351d71",
        "type": "http request",
        "z": "dcbbdfc221d3d6dd",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://localhost:3000/card-rfid/verify-card",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 1610,
        "y": 140,
        "wires": [
            [
                "f2013260f61de49b",
                "4ad3a4b1519a967d"
            ]
        ]
    },
    {
        "id": "4ad3a4b1519a967d",
        "type": "function",
        "z": "dcbbdfc221d3d6dd",
        "name": "Validate Data",
        "func": "const playload = msg.payload;\nconst status = playload.status;\nmsg.payload = status === true ? true : false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 180,
        "wires": [
            [
                "2cc963e52cb7a0ab"
            ]
        ]
    },
    {
        "id": "2cc963e52cb7a0ab",
        "type": "debug",
        "z": "dcbbdfc221d3d6dd",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 180,
        "wires": []
    },
    {
        "id": "c9d2d371df8d381e",
        "type": "modbus-client",
        "name": "COM9",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": true,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM9",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "500",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "1000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    }
]